html(lang ="en")
    head 
        meta(charset="UTF-8")
        title Login
    body 
        include ./partials/header   
        h3 Login Here: 
        form(action="/login" method="post")
            if error 
                p err
            p Username: 
                input(input type="text" name="username" required)
            p Password 
                input(input type="password" name="password" required)
            button(type="submit") Submit